*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 100px auto;
    margin-top: 50px;
    padding: 20px;
    padding-top: 0px;
}
.container h1{
    text-align: center;
    margin: 40px;
    margin-top: 0px;
    font-size: 3rem;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img_sec{
    width: 30%;
    position: relative;
    /*absolute position is required for making overlapping 
    positon of element and to get absolute postioning nearest ancestor must 
    be non-static*/
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}
.img{
    width: 100%;
    filter: grayscale();
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.img_sec:hover{
    transform: scale(1.1);
    box-shadow: black 10px 10px 10px;

}
.img:hover{
    filter: grayscale(0%);
}
.img_name{
    position: absolute;
    bottom: 0px;
    left: 18%;
    padding: 25px;
    width: 100%;
    height: 20%;
    font-weight: bold;
    color: azure;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    transition: 0.3s;
}
.img_sec:hover .img_name{
    opacity: 1;
    transform: scale(1.1);
}