.navbar{
    background-color: #22223b;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 2rem;
    color: #efefef;
    font-weight: 1000;
}