*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
.container{
  display: flex;
  align-items: center;
  justify-content:top;
  flex-direction: column;

}
.app-heading{
  color: #c6aa50;
  margin:20px  ;
}
.chart-heading{
  margin: 20px;
}
.chart{
  margin: 20px;
  width: 100%;
  height: 30rem;
}